<!doctype html>
<html>
  <head>
    <%= partial 'head' %>
  </head>
  <body>

    <%= partial 'partials/navbar' %>

    <div class="blog-body">
      <div class="blog-articles">
        <%= yield %>
      </div>
      <%= partial 'partials/blogsidebar' %>
    </div>

    <%= partial 'partials/footer' %>

    <%= javascript_include_tag "all" %>

  </body>
</html>
