<!doctype html>
<html>
  <head>
    <%= partial 'head' %>
  </head>
  <body>

    <%= partial 'partials/navbar' %>

    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="article">
              <h1><%= current_article.title %></h1>
              <p>Posted <%= current_article.date.strftime('%B %e, %Y') %></p>
            <hr>
            <%= yield %>
          </div>
        </div>
        <div class="col-md-3">
          <%= partial 'partials/blogsidebar' %>
        </div>
      </div>
    </div>

    <%= partial 'partials/footer' %>

    <%= javascript_include_tag "all" %>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  </body>
</html>


