<div class="container">
  <div class="row text-center">
    <h1>Paul-Etienne Coisne's blog</h1>
    <h2>Work in progress!</h2>
    <hr>
    <%= image_tag "ruby-logo.png", class: "hello" %>
    <%= image_tag "html5-logo.png", class: "hello" %>
    <%= image_tag "css3-logo.png", class: "hello" %>
    <%= image_tag "jquery-logo.gif", class: "hello" %>
    <%= image_tag "rails-logo.png", class: "hello" %>
  </div>
</div>
